<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>New Journal Entry</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/entry">Entry</a>
            <a href="/mood-tracker">Mood Tracker</a>
            
        </nav>
    </header>

    <main>
        <form action="{{ url_for('submit_entry') }}" method="POST">
            <label for="journal-entry">Write your journal entry:</label><br>
            <textarea id="journal-entry" name="journal-entry" rows="8" cols="50" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>