<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindMend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to MindMend</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/entry">Entry</a>
            <a href="/mood-tracker">Mood Tracker</a>
            <a href="/all-entries" class="active">All Entries</a>
        </nav>
    </header>

    <main>
            <section class="hero">
            
            <div class="title-box">
                <h2>Find Peace, Balance, and Positivity Today</h2>
            </div>
            
            <div class="intro-box">
                <p>Welcome to MindMend! Use the "Entry" tab to write your daily journal entries, the "Mood Tracker" tab to see your mood patterns over time, and the "All Entries" tab to review your past reflections. Take a moment each day to journal and grow.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 MindMend</p>
    </footer>
</body>
</html>